/* ---------- general style ---------- */
*{
    padding: 0;
    margin: 0;
    transition: 0.15s;
}

p, h1, h2, h3, h4, h5, h6, span{
    color: #FFEDAF;
    text-shadow: 0 0 2px black;
    }
    h1{
        font-size: 3em;
    }
    p{
        font-size: 1.25em;
        max-width: 70ch;
        margin: 0.7em 2em;
        line-height: 1.75;
    }

a{
    text-decoration-color: darkgray;
    }
    a:visited{
        text-decoration-color: black;
    }

hr{
    width: 70%;
    height: 0;
    margin: 0.7em 1em;

    border-style: dotted;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #FFEDAF;
}

.container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}


/* ---------- body style ---------- */
#body{
    position: relative;
    top: 0;
    left: 0;

    background-color: #30211E;
}


/* ---------- navbar style ---------- */
#navbar{
    height: fit-content;
    position: sticky;
    top:0;
    left:0;

    flex-direction: row;
    align-items: center;
    background-color: #30211E;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #FFEDAF;
    }
    #navbar > .left.container{
        width: fit-content;


        flex-direction: row;
        justify-content: end;
        align-items: center;
        flex-shrink: 0;
        }
        #navbar > .left > img{
            padding-top: 0.5vh;
            padding-bottom: 0.5vh;
            margin-left: 20px;
            margin-right: 10px;
            height: 7vh;
        }
        #navbar > .left > h1{
            text-shadow: 0 0 10px #FFEDAF;
        }

    #navbar > .right.container{
        height: fit-content;
        flex-direction: row;
        margin-right: 20px;
        justify-content: end;
        }
        #navbar > .right ul{
            width: 90%;

            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

    #navbar li{
        display: inline;
    }

    #navbar h2:hover{
        text-decoration: underline;
        text-decoration-color: antiquewhite;
        transform: scale(1.1);
    }


/* ---------- content style ---------- */
#content{
    align-self: end;
    width: fit-content;

    align-items: center;
    background-image: linear-gradient(to right, #00000000, #30211EB9 10%, #30211EFF 50%, #30211EFF);
    }
    #content > img{
        position: fixed;
        width: auto;
        height: 100vh;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    #content > h1{
        padding-top: 20px;
        text-align: center;
    }
    #content > p{
        width: fit-content;
        padding-left: 3em;
    }

    #content > button{
        height: 50px;
        width: 50%;
        margin: 20px 0 50px 0;
        padding-bottom: 0;

        color: antiquewhite;
        background-color: #1C202C;
        text-decoration: underline;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        border-width: 1px;
        }

        #content > button:hover{
            transform: scale(1.02);
        }
        button > span{
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        button > span:hover{
            transform: scale(1.5);
        }
        /*
        knappen beter sig lite konstigt vid kanterna,
        fattar inte varför :/
        */
