/* ---------- general style ---------- */
*{
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6{
    color: #CFC688;
    }
    h1{
        font-size: 3em;
    }
    p{
        font-size: 1.25em;
        max-width: 70ch;
        margin: 0.7em 1em;
        line-height: 1.75;
    }

a{
    text-decoration-color: darkgray;
    }
    a:visited{
        text-decoration-color: #383E40;
    }

.container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}


/* ---------- body style ---------- */
#body{
    position: relative;
    top: 0;
    left: 0;

    background-color: #0D1015;
}

#body > img{
    width: auto;
}

#body > .container{
    position: absolute;
    top: 0;
    left: 0;
}


/* ---------- navbar style ---------- */
#navbar{
    height: 7vh;
    position: sticky;
    top:0;
    left:0;

    flex-direction: row;
    background-color: #5D6C89F0;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #CFC688;

    }
    #navbar > .left.container{
        width: 22%;

        flex-direction: row;
        justify-content: end;
        align-items: center;
        }
        #navbar > .left > img{
            height: 92%;
            margin-right: 4%;
        }
        #navbar > .left > h1{
            color: #FFEDAF;
        }

    #navbar > .right.container{
        padding-left: 5%;
        padding-right: 5%;

        flex-direction: row;
        align-items: center;
        justify-content: center;
        }
        #navbar > .right ul{
            width: 100%;

            display: flex;
            justify-content: space-around;

        }

    #navbar li{
        display: inline;
    }

    #navbar h2:hover{
        color: #FFEDAF;
        text-decoration: underline;
        text-decoration-color: antiquewhite;
        transform: scale(1.1);
    }


/* ---------- content style ---------- */
#content{
    width: 58%;
    align-self: end;

    align-items: center;
    background-color: #5D6C8950;
}
    #content > h1{
        width: 70%;
        color: #FFEDAF;
        text-align: center;
        border-bottom-style: dotted;
        border-width: 1.5px;
        border-bottom-color: #FFEDAF;
    }